@use '../size';

.hero {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.hero__subtitle {
    color: var(--clr-accent);
    font-size: size.$base;
    line-height: 0.9;
}

.hero__title {
    color: var(--clr-primary);
    text-transform: uppercase;
    font-size: size.$xl4;
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description {
    max-width: 60ch;
    color: var(--clr-accent);
    font-size: size.$sm;
}

.hero__btn {
    text-transform: capitalize;
    font-size: size.$sm;
}

// xs
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;
    }

    .hero__img {
        width: 6.5rem;
        height: 6.5rem;
    }

    .hero__subtitle {
        font-size: size.$lg;
    }

    .hero__title {
        font-size: size.$xl5;
    }

    .hero__description {
        font-size: size.$base;
    }

    .hero__btn {
        font-size: size.$base;
    }
}

// sm 
//@media (min-width: 640px) {}

// md
//@media (min-width: 768px) {}

// lg
@media (min-width: 1024px) {
    .hero__img {
        width: 8rem;
        height: 8rem;
    }

    .hero__subtitle {
        font-size: size.$xl2;
    }

    .hero__title {
        font-size: size.$xl7;
    }

    .hero__description {
        font-size: size.$lg;
    }

    .hero__btn {
        font-size: size.$lg;
    }
}

// xl
@media (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }

    .hero__img {
        width: 10rem;
        height: 10rem;
    }

    .hero__subtitle {
        font-size: size.$xl4;
    }

    .hero__title {
        font-size: size.$xl9;
    }

    .hero__description {
        font-size: size.$xl;
    }

    .hero__btn {
        font-size: size.$xl;
    }
}

// 2xl
//@media (min-width: 1536px) {}
