.container {
  text-align: center;
}

hr {
  border: 1px solid grey;
}

#nameRow {
  margin-top: 50px;
  text-align: center;
}

#pictureRow {
  margin-top: 10px;
  text-align: center;
}

#picture {
  border-radius: 50%;
}

#contactsRow {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

#aboutMeRow {
  text-align: center;
}

#aboutMeRow p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pagesRow {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* Page Buttons */
.pageButton {
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.pageButton:focus {
  color: #171e29;
}

.pageButton:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.pageButton:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .pageButton {
    min-width: 170px;
  }
}

.projectImage {
  height: 500px;
  width: 400px;
}
