.container {
  text-align: center;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

.contacts {
  margin: 0px 5px 0px 5px;
  color: #212529;
}

.contacts:hover {
  color: #0095a0;
}

.projectLink {
  color: #212529;
}

.projectLink:hover {
  color: #0095a0;
}

hr {
  border: 1px solid grey;
}

#nameRow {
  padding-top: 50px;
  text-align: center;
}

#pictureRow {
  margin-top: 10px;
  text-align: center;
}

#picture {
  border-radius: 50%;
  height: 25vh;
}

#contactsRow {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

#aboutMeRow {
  text-align: center;
}

#aboutMeRow p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pagesRow {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* Page Buttons */
.pageButton {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  background-color: transparent;
  border: 2px solid #212529;
  box-sizing: border-box;
  color: #212529;
  cursor: pointer;
  display: inline-flex;
  fill: #212529;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.pageButton:hover {
  border-color: #0095a0;
  color: #0095a0;
  fill: #0095a0;
}

.projectImage {
  height: 500px;
  width: 400px;
}

.skillBar {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 5px;
  background-color: #04AA6D;
}

.skill {
  margin-left: 15px;
}

.skillPercentage {
  float: right;
  margin-right: 15px;
}

/* Programming Languages Skills */
.python {
  width: 80%; 
}

.java {
  width: 80%;
}

.csharp {
  width: 75%;
}

.javascript {
  width: 75%;
}

.c\+\+ {
  width: 70%;
}

.c {
  width: 65%;
}

.html {
  width: 65%;
}

.css {
  width: 65%;
}

.matlab {
  width: 55%;
}

/* Tools Skills */

.git {
  width: 85%;
}

.visualStudio {
  width: 80%;
}

.intellij {
  width: 80%;
}

.docker {
  width: 75%;
}

.eclipse {
  width: 70%;
}

.blender {
  width: 40%;
}

/* Frameworks & Engines Skills */
.unity {
  width: 75%;
}

.springBoot {
  width: 75%;
}

.django {
  width: 70%;
}

.angular {
  width: 65%;
}

.unrealEngine {
  width: 50%;
}

.godot {
  width: 45%;
}

/* Spoken Languages Skills */

.portuguese {
  width: 95%;
}

.english {
  width: 85%;
}
