* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.game-canvas {
    width: 100%;
    height: 100%;
}

.project-background {
    width: 720px;
    height: 1280px;
    background: #FEF2B8;
}

div.project-name {
    position: absolute;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #3C5B66;
    visibility: hidden;
    text-transform: uppercase;
}

div.project-img-banner {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 7%;
    width: 540px;
    height: 304px;
    visibility: hidden;
}

img.project-img-banner {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.project-description {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    top: 33%;
    width: 75%;
    height: 40%;
    color: #3C5B66;
    font-size: 27px;
    visibility: hidden;
}

div.project-visit-here {
    position: absolute;
    width: 25%;
    height: 6%;
    background: #D7A151;
    bottom: 17%;
    left: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #3C5B66;
    visibility: hidden;
    transition: transform .2s;
}

div.project-visit-here:hover {
    transform: scale(1.1);
}

div.project-view-code {
    position: absolute;
    width: 25%;
    height: 6%;
    background: #D7A151;
    bottom: 17%;
    right: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #3C5B66;
    visibility: hidden;
    transition: transform .2s;
}

div.project-view-code:hover {
    transform: scale(1.1);
}

div.project-left-arrow {
    position: absolute;
    width: 140px;
    height: 140px;
    background: #D7A151;
    bottom: 40px;
    left: 80px;
    transition: transform .2s;
}

div.project-left-arrow:hover {
    transform: scale(1.1);
    cursor: pointer;
}

img.project-left-arrow {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

div.project-right-arrow {
    position: absolute;
    width: 140px;
    height: 140px;
    background: #D7A151;
    bottom: 40px;
    right: 80px;
    transition: transform .2s;
}

div.project-right-arrow:hover {
    transform: scale(1.1);
    cursor: pointer;
}

img.project-right-arrow {
    width: 100%;
    height: 100%;
}

div.project-exit {
    position: absolute;
    background: #D7A151;
    width: 25%;
    height: 7%;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #3C5B66;
    transition: transform .2s;
}

div.project-exit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.skills-container {
    width: 720px;
    height: 1280px;
    color: #540B0E;
    /* background: #FEF2B8; */
}

.skills-header {
    position: relative;
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.skill-bar {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #212529;
    margin-bottom: 5px;
    background-color: transparent;
    border: 5px solid #212529;
    border-radius: 5px;
    font-size: 24px;
}

.skill-name {
    margin-left: 15px;
}

.skill-percentage {
    float: right;
    margin-right: 15px;
}

div.skills-exit {
    position: absolute;
    width: 25%;
    height: 7%;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    transition: transform .2s;
    border-width: 5px;
    border-style: solid;
    border-color: #212529;
}

div.skills-exit:hover {
    transform: scale(1.1);
    cursor: pointer;
}
