$text: #fbe9d0;         // rgb(251, 233, 208)
$background: #254956;   // rgb(37, 73, 86)
$primary: #e64833;      // rgb(230, 72, 51)
$secondary: #864f41;    // rgb(134, 79, 65)
$accent: #8faead;       // rgb(143, 174, 173)
