@use 'font-face';

:root {
    --clr-text: #fbe9d0;         // rgb(251, 233, 208)
    --clr-background: #254956;   // rgb(37, 73, 86)
    --clr-primary: #e64833;      // rgb(230, 72, 51)
    --clr-secondary: #864f41;    // rgb(134, 79, 65)
    --clr-accent: #8faead;       // rgb(143, 174, 173)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

.light-mode {
    --clr-text: #2f1d04;         // rgb(251, 233, 208)
    --clr-background: #a9cdda;   // rgb(37, 73, 86)
    --clr-primary: #cc2e19;      // rgb(230, 72, 51)
    --clr-secondary: #be8779;    // rgb(134, 79, 65)
    --clr-accent: #51706f;       // rgb(143, 174, 173)
}

body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-primary);
}

strong {
    color: var(--clr-secondary);
}
