.SectionIndicator {
  position: fixed;
  height: 100vh;
  right: 2%;
}

.indicatorsWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #333333;
  border-radius: 50%;
  margin: 15px 0px 15px 0px;
  transition: transform 0.1s;
}

.dot:hover {
  cursor: pointer;
  transform: scale(2.5) !important;
}
